In [1]:
import glob

import pandas as pd

pd.options.display.max_columns = 500

In [14]:
file_list = glob.glob("./data/*.parquet")
dfs = []
for file in file_list:
    df = pd.read_parquet(path=file)
    df['file'] = file
    dfs.append(df)
vehicles_data = pd.concat(dfs)

logger_operations = pd.read_csv(filepath_or_buffer="./data/tires_vehicle_logger_operations.csv", sep=",")

## Basic exploration

### Tires Vehicle Logger Operations

In [15]:
display(logger_operations.info())
display(logger_operations.head(5))
display(logger_operations.tail(5))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222 entries, 0 to 221
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   vehicle_licence_plate  222 non-null    object
 1   tireid                 222 non-null    int64
 2   wheelpos               222 non-null    object
 3   tire_mounted           222 non-null    object
 4   tire_demounted         99 non-null     object
 5   loggerno               222 non-null    int64
 6   logger_mounted         222 non-null    object
 7   logger_demounted       4 non-null      object
dtypes: int64(2), object(6)
memory usage: 14.0+ KB

None

,vehicle_licence_plate,tireid,wheelpos,tire_mounted,tire_demounted,loggerno,logger_mounted,logger_demounted
0,DB30896,173561,1L,2021-07-02,NaN,8750088,2021-07-02,NaN
1,DB30896,173620,2R,2021-07-02,NaN,8750088,2021-07-02,NaN
2,DB30896,173622,1R,2021-07-02,NaN,8750088,2021-07-02,NaN
3,DB30896,173570,2L,2021-07-02,NaN,8750088,2021-07-02,NaN
4,DB30901,173618,2R,2021-07-02,2021-10-27,8750084,2021-07-02,NaN

,vehicle_licence_plate,tireid,wheelpos,tire_mounted,tire_demounted,loggerno,logger_mounted,logger_demounted
217,CU33697,167147,1L,2020-09-10,2021-11-24,8750069,2020-09-10,NaN
218,CU33697,167149,2R,2020-09-10,NaN,8750069,2020-09-10,NaN
219,CU33697,167187,2L,2021-02-26,NaN,8750069,2020-09-10,NaN
220,CU33697,167205,2L,2020-09-10,2021-02-26,8750069,2020-09-10,NaN
221,CU33697,174947,1R,2021-11-24,NaN,8750069,2020-09-10,NaN

In [16]:
print(logger_operations.vehicle_licence_plate.nunique())
print(logger_operations.tireid.nunique())
print(logger_operations.loggerno.nunique())

30
215
31

In [17]:
##8750061 8750076
##CU33706 DB30900
operational_data = logger_operations.loc[logger_operations['loggerno'].isin([8750061, 8750076]), :]
#operational_data = logger_operations.loc[logger_operations['vehicle_licence_plate'].isin(['CU33706', 'DB30900']), :]
operational_data.groupby(by=['loggerno', 'vehicle_licence_plate', 'tireid', 'wheelpos']).count()

                                                tire_mounted  tire_demounted
loggerno vehicle_licence_plate tireid wheelpos
8750061  CU33706               167118 2R                   1               1  \
                               167121 2L                   1               0
                               167133 2R                   1               1
                               167142 1L                   1               1
                               167159 1L                   1               0
                               167175 1R                   1               1
                               167230 1R                   1               1
                               172600 1R                   1               0
                               174945 2R                   1               0
8750076  DB30900               173553 2R                   1               0
                               173600 1R                   1               0
                               173617 1R                   1               1
                               173619 1L                   1               0
                               173626 2L                   1               0

                                                logger_mounted
loggerno vehicle_licence_plate tireid wheelpos
8750061  CU33706               167118 2R                     1  \
                               167121 2L                     1
                               167133 2R                     1
                               167142 1L                     1
                               167159 1L                     1
                               167175 1R                     1
                               167230 1R                     1
                               172600 1R                     1
                               174945 2R                     1
8750076  DB30900               173553 2R                     1
                               173600 1R                     1
                               173617 1R                     1
                               173619 1L                     1
                               173626 2L                     1

                                                logger_demounted
loggerno vehicle_licence_plate tireid wheelpos
8750061  CU33706               167118 2R                       0
                               167121 2L                       0
                               167133 2R                       0
                               167142 1L                       0
                               167159 1L                       0
                               167175 1R                       0
                               167230 1R                       0
                               172600 1R                       0
                               174945 2R                       0
8750076  DB30900               173553 2R                       0
                               173600 1R                       0
                               173617 1R                       0
                               173619 1L                       0
                               173626 2L                       0

### Vehicles data

In [18]:
display(vehicles_data.info())
display(vehicles_data.head(5))
display(vehicles_data.tail(5))

<class 'pandas.core.frame.DataFrame'>
Index: 1128730 entries, 0 to 297739
Data columns (total 24 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   gps_long             1123773 non-null  float64
 1   gps_lat              1123773 non-null  float64
 2   alt                  1123773 non-null  float64
 3   temp_outside         1127266 non-null  float64
 4   tachometer_km        1128040 non-null  float64
 5   steeringwheel_angle  1128176 non-null  float64
 6   wheelspeed_rr        1128016 non-null  float64
 7   wheelspeed_rl        1128051 non-null  float64
 8   wheelspeed_fr        1128098 non-null  float64
 9   wheelspeed_fl        1128148 non-null  float64
 10  speed                1123892 non-null  float64
 11  tiretemperature_rr   1102342 non-null  float64
 12  tiretemperature_rl   1103029 non-null  float64
 13  tiretemperature_fr   1102605 non-null  float64
 14  tiretemperature_fl   1102771 non-null  float64
 15  tirepressure_rr      1102409 non-null  float64
 16  tirepressure_rl      1103104 non-null  float64
 17  tirepressure_fr      1102662 non-null  float64
 18  tirepressure_fl      1102827 non-null  float64
 19  ts                   1128730 non-null  datetime64[ns]
 20  ts_sec               1128730 non-null  datetime64[ns]
 21  ts_int               1128730 non-null  float64
 22  highres              1128730 non-null  float64
 23  file                 1128730 non-null  object
dtypes: datetime64[ns](2), float64(21), object(1)
memory usage: 215.3+ MB

None

,gps_long,gps_lat,alt,temp_outside,tachometer_km,steeringwheel_angle,wheelspeed_rr,wheelspeed_rl,wheelspeed_fr,wheelspeed_fl,speed,tiretemperature_rr,tiretemperature_rl,tiretemperature_fr,tiretemperature_fl,tirepressure_rr,tirepressure_rl,tirepressure_fr,tirepressure_fl,ts,ts_sec,ts_int,highres,file
0,12.268599,55.647925,34.6,NaN,NaN,42949669.99,0.0,0.0,0.0,0.0,0.0,3.0,3.0,127.0,127.0,2.45,2.025,2.05,2.325,2022-02-01 13:52:01,2022-02-01 13:52:01,1.643724e+15,2384480.9,./data/WMWXP3104M2N38931_0000000008750061_2022...
1,12.268599,55.647925,34.8,1.5,31111.0,42949667.81,0.0,0.0,0.0,0.0,0.0,127.0,127.0,127.0,127.0,6.30,6.300,6.30,6.300,2022-02-01 13:52:03,2022-02-01 13:52:03,1.643724e+15,2384482.9,./data/WMWXP3104M2N38931_0000000008750061_2022...
2,12.268599,55.647925,34.8,1.5,31111.0,42949667.82,0.0,0.0,0.0,0.0,0.0,127.0,127.0,127.0,127.0,6.30,6.300,6.30,6.300,2022-02-01 13:52:04,2022-02-01 13:52:04,1.643724e+15,2384483.9,./data/WMWXP3104M2N38931_0000000008750061_2022...
3,12.268599,55.647925,34.8,1.5,31111.0,42949667.82,0.0,0.0,0.0,0.0,0.0,127.0,127.0,127.0,127.0,6.30,6.300,6.30,6.300,2022-02-01 13:52:05,2022-02-01 13:52:05,1.643724e+15,2384484.9,./data/WMWXP3104M2N38931_0000000008750061_2022...
4,12.268599,55.647925,34.7,1.5,31111.0,42949667.82,0.0,0.0,0.0,0.0,0.0,127.0,127.0,127.0,127.0,6.30,6.300,6.30,6.300,2022-02-01 13:52:06,2022-02-01 13:52:06,1.643724e+15,2384485.9,./data/WMWXP3104M2N38931_0000000008750061_2022...

,gps_long,gps_lat,alt,temp_outside,tachometer_km,steeringwheel_angle,wheelspeed_rr,wheelspeed_rl,wheelspeed_fr,wheelspeed_fl,speed,tiretemperature_rr,tiretemperature_rl,tiretemperature_fr,tiretemperature_fl,tirepressure_rr,tirepressure_rl,tirepressure_fr,tirepressure_fl,ts,ts_sec,ts_int,highres,file
297735,11.273621,58.554392,4.7,-1.0,17983.0,42949670.46,0.0,0.0,0.0,0.0,0.0,3.0,2.0,6.0,7.0,2.525,2.525,2.55,2.55,2021-12-29 09:42:21,2021-12-29 09:42:21,1.640771e+15,3802475.8,./data/W1K1770841V108072_0000000008750076_2021...
297736,11.273622,58.554392,4.8,-1.0,17983.0,42949668.16,0.0,0.0,0.0,0.0,0.0,3.0,2.0,6.0,7.0,2.525,2.525,2.55,2.55,2021-12-29 09:42:22,2021-12-29 09:42:22,1.640771e+15,3802476.8,./data/W1K1770841V108072_0000000008750076_2021...
297737,11.273623,58.554391,5.1,-1.0,17983.0,42949668.16,0.0,0.0,0.0,0.0,0.0,3.0,2.0,6.0,7.0,2.525,2.525,2.55,2.55,2021-12-29 09:42:23,2021-12-29 09:42:23,1.640771e+15,3802477.8,./data/W1K1770841V108072_0000000008750076_2021...
297738,11.273624,58.554392,5.1,-1.0,17983.0,42949668.16,0.0,0.0,0.0,0.0,0.0,3.0,2.0,6.0,7.0,2.525,2.525,2.55,2.55,2021-12-29 09:42:24,2021-12-29 09:42:24,1.640771e+15,3802478.8,./data/W1K1770841V108072_0000000008750076_2021...
297739,11.273625,58.554393,5.0,-1.0,17983.0,42949668.16,0.0,0.0,0.0,0.0,0.0,3.0,2.0,6.0,7.0,2.525,2.525,2.55,2.55,2021-12-29 09:42:25,2021-12-29 09:42:25,1.640771e+15,3802479.8,./data/W1K1770841V108072_0000000008750076_2021...

In [19]:
vehicles_data.describe()

,gps_long,gps_lat,alt,temp_outside,tachometer_km,steeringwheel_angle,wheelspeed_rr,wheelspeed_rl,wheelspeed_fr,wheelspeed_fl,speed,tiretemperature_rr,tiretemperature_rl,tiretemperature_fr,tiretemperature_fl,tirepressure_rr,tirepressure_rl,tirepressure_fr,tirepressure_fl,ts,ts_sec,ts_int,highres
count,1.123773e+06,1.123773e+06,1.123773e+06,1.127266e+06,1.128040e+06,1.128176e+06,1.128016e+06,1.128051e+06,1.128098e+06,1.128148e+06,1.123892e+06,1.102342e+06,1.103029e+06,1.102605e+06,1.102771e+06,1.102409e+06,1.103104e+06,1.102662e+06,1.102827e+06,1128730,1128730,1.128730e+06,1.128730e+06
mean,1.248369e+01,5.572077e+01,9.907616e+00,3.844060e+00,2.314554e+04,2.778353e+07,3.372052e+01,3.372427e+01,3.392802e+01,3.392335e+01,3.291090e+01,1.459487e+01,1.576453e+01,1.776014e+01,1.743198e+01,2.643988e+00,2.532692e+00,2.608855e+00,2.671500e+00,2022-01-09 02:33:34.926060288,2022-01-09 02:33:34.926060288,1.641696e+15,2.299036e+06
min,9.553303e+00,5.529707e+01,-2.814000e+02,-7.000000e+00,1.458100e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-6.000000e+00,-7.000000e+00,-6.000000e+00,-6.000000e+00,1.575000e+00,1.900000e+00,0.000000e+00,0.000000e+00,2021-12-01 05:09:29,2021-12-01 05:09:29,1.638335e+15,1.921200e+03
25%,1.250066e+01,5.565271e+01,-1.100000e+00,1.500000e+00,1.754900e+04,1.575000e+01,1.560000e+00,1.560000e+00,1.620000e+00,1.620000e+00,0.000000e+00,3.000000e+00,3.000000e+00,5.000000e+00,5.000000e+00,2.450000e+00,2.025000e+00,2.075000e+00,2.325000e+00,2021-12-20 13:27:27.249999872,2021-12-20 13:27:27.249999872,1.640007e+15,1.522063e+06
50%,1.254412e+01,5.567450e+01,7.400000e+00,4.000000e+00,2.075200e+04,4.294966e+07,2.755000e+01,2.754000e+01,2.773000e+01,2.772000e+01,2.700000e+01,6.000000e+00,6.000000e+00,9.000000e+00,9.000000e+00,2.550000e+00,2.550000e+00,2.600000e+00,2.550000e+00,2022-01-09 10:49:35.500000,2022-01-09 10:49:35.500000,1.641725e+15,2.384618e+06
75%,1.257650e+01,5.570329e+01,1.870000e+01,6.000000e+00,2.968600e+04,4.294967e+07,4.982000e+01,4.986000e+01,5.010000e+01,5.010000e+01,4.900000e+01,9.000000e+00,9.000000e+00,1.300000e+01,1.300000e+01,2.625000e+00,2.625000e+00,2.750000e+00,2.675000e+00,2022-01-29 08:11:44.750000128,2022-01-29 08:11:44.750000128,1.643444e+15,3.123360e+06
max,1.311745e+01,5.856846e+01,6.253000e+02,2.300000e+01,3.203200e+04,4.294967e+07,1.701000e+02,1.702800e+02,1.719000e+02,1.719000e+02,1.690000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,6.300000e+00,6.300000e+00,6.300000e+00,6.300000e+00,2022-02-17 17:51:31,2022-02-17 17:51:31,1.645120e+15,4.289524e+06
std,3.126037e-01,3.008117e-01,1.731932e+01,3.079463e+00,6.131696e+03,2.052725e+07,3.344849e+01,3.346067e+01,3.361916e+01,3.362674e+01,3.349490e+01,3.682655e+01,4.053714e+01,3.706150e+01,3.585963e+01,8.878253e-01,9.166148e-01,9.159414e-01,8.728282e-01,NaN,NaN,1.948698e+12,1.072821e+06

## Preprocessing vehicle data

Splitting the file column to get the logger ID.

In [20]:
vehicles_data[['vin', 'loggerno', 'created_at', 'suffix']] = vehicles_data['file'].str.split('_', expand=True)
vehicles_data.drop(columns=['file', 'suffix'], inplace=True)
vehicles_data['vin'] = vehicles_data['vin'].str.replace('^\./data/', '', regex=True)
vehicles_data['loggerno'] = vehicles_data['loggerno'].str.lstrip('0').astype(int)
vehicles_data['created_at'] = pd.to_datetime(vehicles_data['created_at'], format='%Y%m')
vehicles_data.head(5)

,gps_long,gps_lat,alt,temp_outside,tachometer_km,steeringwheel_angle,wheelspeed_rr,wheelspeed_rl,wheelspeed_fr,wheelspeed_fl,speed,tiretemperature_rr,tiretemperature_rl,tiretemperature_fr,tiretemperature_fl,tirepressure_rr,tirepressure_rl,tirepressure_fr,tirepressure_fl,ts,ts_sec,ts_int,highres,vin,loggerno,created_at
0,12.268599,55.647925,34.6,NaN,NaN,42949669.99,0.0,0.0,0.0,0.0,0.0,3.0,3.0,127.0,127.0,2.45,2.025,2.05,2.325,2022-02-01 13:52:01,2022-02-01 13:52:01,1.643724e+15,2384480.9,WMWXP3104M2N38931,8750061,2022-02-01
1,12.268599,55.647925,34.8,1.5,31111.0,42949667.81,0.0,0.0,0.0,0.0,0.0,127.0,127.0,127.0,127.0,6.30,6.300,6.30,6.300,2022-02-01 13:52:03,2022-02-01 13:52:03,1.643724e+15,2384482.9,WMWXP3104M2N38931,8750061,2022-02-01
2,12.268599,55.647925,34.8,1.5,31111.0,42949667.82,0.0,0.0,0.0,0.0,0.0,127.0,127.0,127.0,127.0,6.30,6.300,6.30,6.300,2022-02-01 13:52:04,2022-02-01 13:52:04,1.643724e+15,2384483.9,WMWXP3104M2N38931,8750061,2022-02-01
3,12.268599,55.647925,34.8,1.5,31111.0,42949667.82,0.0,0.0,0.0,0.0,0.0,127.0,127.0,127.0,127.0,6.30,6.300,6.30,6.300,2022-02-01 13:52:05,2022-02-01 13:52:05,1.643724e+15,2384484.9,WMWXP3104M2N38931,8750061,2022-02-01
4,12.268599,55.647925,34.7,1.5,31111.0,42949667.82,0.0,0.0,0.0,0.0,0.0,127.0,127.0,127.0,127.0,6.30,6.300,6.30,6.300,2022-02-01 13:52:06,2022-02-01 13:52:06,1.643724e+15,2384485.9,WMWXP3104M2N38931,8750061,2022-02-01

In [21]:
vehicles_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1128730 entries, 0 to 297739
Data columns (total 26 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   gps_long             1123773 non-null  float64
 1   gps_lat              1123773 non-null  float64
 2   alt                  1123773 non-null  float64
 3   temp_outside         1127266 non-null  float64
 4   tachometer_km        1128040 non-null  float64
 5   steeringwheel_angle  1128176 non-null  float64
 6   wheelspeed_rr        1128016 non-null  float64
 7   wheelspeed_rl        1128051 non-null  float64
 8   wheelspeed_fr        1128098 non-null  float64
 9   wheelspeed_fl        1128148 non-null  float64
 10  speed                1123892 non-null  float64
 11  tiretemperature_rr   1102342 non-null  float64
 12  tiretemperature_rl   1103029 non-null  float64
 13  tiretemperature_fr   1102605 non-null  float64
 14  tiretemperature_fl   1102771 non-null  float64
 15  tirepressure_rr      1102409 non-null  float64
 16  tirepressure_rl      1103104 non-null  float64
 17  tirepressure_fr      1102662 non-null  float64
 18  tirepressure_fl      1102827 non-null  float64
 19  ts                   1128730 non-null  datetime64[ns]
 20  ts_sec               1128730 non-null  datetime64[ns]
 21  ts_int               1128730 non-null  float64
 22  highres              1128730 non-null  float64
 23  vin                  1128730 non-null  object
 24  loggerno             1128730 non-null  int64
 25  created_at           1128730 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(21), int64(1), object(1)
memory usage: 232.5+ MB

In [22]:
print(vehicles_data.loggerno.unique())

[8750061 8750076]

### Filtering

In [41]:
columns_list = [
    #'gps_long',
    #'gps_lat',
    #'alt',
    'temp_outside',
    'tachometer_km',
    #'steeringwheel_angle',
    'wheelspeed_rr',
    'wheelspeed_rl',
    'wheelspeed_fr',
    'wheelspeed_fl',
    'speed',
    'tiretemperature_rr',
    'tiretemperature_rl',
    'tiretemperature_fr',
    'tiretemperature_fl',
    'tirepressure_rr',
    'tirepressure_rl',
    'tirepressure_fr',
    'tirepressure_fl',
    'ts',
    'ts_sec',
    'ts_int',
    #'highres',
    #'vin',
    'loggerno',
    'created_at'
]

vehicles_data = vehicles_data.loc[:, columns_list]

### Unpivoting the vehicle data

In [43]:
vehicles_data.melt(id_vars=['loggerno', 'created_at', 'temp_outside', 'tachometer_km', 'speed', 'ts', 'ts_sec', 'ts_int'], var_name='variable', value_name='value')

## Joining the two datasets

In [12]:
pd.merge(left=logger_operations, right=vehicles_data, how='inner', on='loggerno').head(10000).to_csv('./data/sample.csv')