In [1]:
import glob

import pandas as pd

pd.options.display.max_columns = 500

In [2]:
file_list = glob.glob("./data/*.parquet")
dfs = []
for file in file_list:
    df = pd.read_parquet(file)
    df['file'] = file
    dfs.append(df)
vehicles_data = pd.concat(dfs)

logger_operations = pd.read_csv(filepath_or_buffer="./data/tires_vehicle_logger_operations.csv", sep=",")

In [10]:
display(logger_operations.info())
display(logger_operations.head(5))
display(logger_operations.tail(5))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222 entries, 0 to 221
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   vehicle_licence_plate  222 non-null    object
 1   tireid                 222 non-null    int64
 2   wheelpos               222 non-null    object
 3   tire_mounted           222 non-null    object
 4   tire_demounted         99 non-null     object
 5   loggerno               222 non-null    int64
 6   logger_mounted         222 non-null    object
 7   logger_demounted       4 non-null      object
dtypes: int64(2), object(6)
memory usage: 14.0+ KB

None

,vehicle_licence_plate,tireid,wheelpos,tire_mounted,tire_demounted,loggerno,logger_mounted,logger_demounted
0,DB30896,173561,1L,2021-07-02,NaN,8750088,2021-07-02,NaN
1,DB30896,173620,2R,2021-07-02,NaN,8750088,2021-07-02,NaN
2,DB30896,173622,1R,2021-07-02,NaN,8750088,2021-07-02,NaN
3,DB30896,173570,2L,2021-07-02,NaN,8750088,2021-07-02,NaN
4,DB30901,173618,2R,2021-07-02,2021-10-27,8750084,2021-07-02,NaN

,vehicle_licence_plate,tireid,wheelpos,tire_mounted,tire_demounted,loggerno,logger_mounted,logger_demounted
217,CU33697,167147,1L,2020-09-10,2021-11-24,8750069,2020-09-10,NaN
218,CU33697,167149,2R,2020-09-10,NaN,8750069,2020-09-10,NaN
219,CU33697,167187,2L,2021-02-26,NaN,8750069,2020-09-10,NaN
220,CU33697,167205,2L,2020-09-10,2021-02-26,8750069,2020-09-10,NaN
221,CU33697,174947,1R,2021-11-24,NaN,8750069,2020-09-10,NaN

In [11]:
display(vehicles_data.info())
display(vehicles_data.head(5))
display(vehicles_data.tail(5))

<class 'pandas.core.frame.DataFrame'>
Index: 1128730 entries, 0 to 297739
Data columns (total 24 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   gps_long             1123773 non-null  float64
 1   gps_lat              1123773 non-null  float64
 2   alt                  1123773 non-null  float64
 3   temp_outside         1127266 non-null  float64
 4   tachometer_km        1128040 non-null  float64
 5   steeringwheel_angle  1128176 non-null  float64
 6   wheelspeed_rr        1128016 non-null  float64
 7   wheelspeed_rl        1128051 non-null  float64
 8   wheelspeed_fr        1128098 non-null  float64
 9   wheelspeed_fl        1128148 non-null  float64
 10  speed                1123892 non-null  float64
 11  tiretemperature_rr   1102342 non-null  float64
 12  tiretemperature_rl   1103029 non-null  float64
 13  tiretemperature_fr   1102605 non-null  float64
 14  tiretemperature_fl   1102771 non-null  float64
 15  tirepressure_rr      1102409 non-null  float64
 16  tirepressure_rl      1103104 non-null  float64
 17  tirepressure_fr      1102662 non-null  float64
 18  tirepressure_fl      1102827 non-null  float64
 19  ts                   1128730 non-null  datetime64[ns]
 20  ts_sec               1128730 non-null  datetime64[ns]
 21  ts_int               1128730 non-null  float64
 22  highres              1128730 non-null  float64
 23  file                 1128730 non-null  object
dtypes: datetime64[ns](2), float64(21), object(1)
memory usage: 215.3+ MB

None

,gps_long,gps_lat,alt,temp_outside,tachometer_km,steeringwheel_angle,wheelspeed_rr,wheelspeed_rl,wheelspeed_fr,wheelspeed_fl,speed,tiretemperature_rr,tiretemperature_rl,tiretemperature_fr,tiretemperature_fl,tirepressure_rr,tirepressure_rl,tirepressure_fr,tirepressure_fl,ts,ts_sec,ts_int,highres,file
0,12.268599,55.647925,34.6,NaN,NaN,42949669.99,0.0,0.0,0.0,0.0,0.0,3.0,3.0,127.0,127.0,2.45,2.025,2.05,2.325,2022-02-01 13:52:01,2022-02-01 13:52:01,1.643724e+15,2384480.9,./data/WMWXP3104M2N38931_0000000008750061_2022...
1,12.268599,55.647925,34.8,1.5,31111.0,42949667.81,0.0,0.0,0.0,0.0,0.0,127.0,127.0,127.0,127.0,6.30,6.300,6.30,6.300,2022-02-01 13:52:03,2022-02-01 13:52:03,1.643724e+15,2384482.9,./data/WMWXP3104M2N38931_0000000008750061_2022...
2,12.268599,55.647925,34.8,1.5,31111.0,42949667.82,0.0,0.0,0.0,0.0,0.0,127.0,127.0,127.0,127.0,6.30,6.300,6.30,6.300,2022-02-01 13:52:04,2022-02-01 13:52:04,1.643724e+15,2384483.9,./data/WMWXP3104M2N38931_0000000008750061_2022...
3,12.268599,55.647925,34.8,1.5,31111.0,42949667.82,0.0,0.0,0.0,0.0,0.0,127.0,127.0,127.0,127.0,6.30,6.300,6.30,6.300,2022-02-01 13:52:05,2022-02-01 13:52:05,1.643724e+15,2384484.9,./data/WMWXP3104M2N38931_0000000008750061_2022...
4,12.268599,55.647925,34.7,1.5,31111.0,42949667.82,0.0,0.0,0.0,0.0,0.0,127.0,127.0,127.0,127.0,6.30,6.300,6.30,6.300,2022-02-01 13:52:06,2022-02-01 13:52:06,1.643724e+15,2384485.9,./data/WMWXP3104M2N38931_0000000008750061_2022...

,gps_long,gps_lat,alt,temp_outside,tachometer_km,steeringwheel_angle,wheelspeed_rr,wheelspeed_rl,wheelspeed_fr,wheelspeed_fl,speed,tiretemperature_rr,tiretemperature_rl,tiretemperature_fr,tiretemperature_fl,tirepressure_rr,tirepressure_rl,tirepressure_fr,tirepressure_fl,ts,ts_sec,ts_int,highres,file
297735,11.273621,58.554392,4.7,-1.0,17983.0,42949670.46,0.0,0.0,0.0,0.0,0.0,3.0,2.0,6.0,7.0,2.525,2.525,2.55,2.55,2021-12-29 09:42:21,2021-12-29 09:42:21,1.640771e+15,3802475.8,./data/W1K1770841V108072_0000000008750076_2021...
297736,11.273622,58.554392,4.8,-1.0,17983.0,42949668.16,0.0,0.0,0.0,0.0,0.0,3.0,2.0,6.0,7.0,2.525,2.525,2.55,2.55,2021-12-29 09:42:22,2021-12-29 09:42:22,1.640771e+15,3802476.8,./data/W1K1770841V108072_0000000008750076_2021...
297737,11.273623,58.554391,5.1,-1.0,17983.0,42949668.16,0.0,0.0,0.0,0.0,0.0,3.0,2.0,6.0,7.0,2.525,2.525,2.55,2.55,2021-12-29 09:42:23,2021-12-29 09:42:23,1.640771e+15,3802477.8,./data/W1K1770841V108072_0000000008750076_2021...
297738,11.273624,58.554392,5.1,-1.0,17983.0,42949668.16,0.0,0.0,0.0,0.0,0.0,3.0,2.0,6.0,7.0,2.525,2.525,2.55,2.55,2021-12-29 09:42:24,2021-12-29 09:42:24,1.640771e+15,3802478.8,./data/W1K1770841V108072_0000000008750076_2021...
297739,11.273625,58.554393,5.0,-1.0,17983.0,42949668.16,0.0,0.0,0.0,0.0,0.0,3.0,2.0,6.0,7.0,2.525,2.525,2.55,2.55,2021-12-29 09:42:25,2021-12-29 09:42:25,1.640771e+15,3802479.8,./data/W1K1770841V108072_0000000008750076_2021...